.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.page-spacer{
    margin-top: 90px;
}
.sticky_navbar{
    background-color:white; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: all 0.3s; 
    box-shadow: 0px 1px 10px #999;
    z-index: 10000;
}